<div class="container">
  <h2>Program Details</h2>

  <div *ngIf="programDetails; else noData">
    <h3>{{ programDetails.name }}</h3>
    <p>{{ programDetails.description }}</p>

    <h4>Technologies Used</h4>
    <ul>
      <li *ngFor="let tech of programDetails.technologies">{{ tech }}</li>
    </ul>

    <h4>Use Cases</h4>
    <ul>
      <li *ngFor="let useCase of programDetails.useCases">{{ useCase }}</li>
    </ul>

    <h4>Program Duration</h4>
    <p>
      {{ programDetails.programDuration }} (Year: {{ programDetails.year }})
    </p>

    <h4>Curriculum</h4>
    <div *ngFor="let month of programDetails.curriculum">
      <h5>Month {{ month.month }}</h5>
      <ul>
        <li *ngFor="let topic of month.topics">{{ topic }}</li>
      </ul>
    </div>

    <h4>Career Opportunities</h4>
    <ul>
      <li *ngFor="let career of programDetails.careerOpportunities">
        {{ career }}
      </li>
    </ul>

    <h4>Salary Expectations</h4>
    <p>
      <strong>Entry Level:</strong>
      {{ programDetails.salaryExpectations.entryLevel }}
    </p>
    <p>
      <strong>Mid Level:</strong>
      {{ programDetails.salaryExpectations.midLevel }}
    </p>
    <p>
      <strong>Senior Level:</strong>
      {{ programDetails.salaryExpectations.seniorLevel }}
    </p>

    <h4>Additional Benefits</h4>
    <p>
      <strong>Certification Provided:</strong>
      {{ programDetails.certificationProvided ? "Yes" : "No" }}
    </p>
    <p>
      <strong>Job Assistance:</strong>
      {{ programDetails.jobAssistance ? "Yes" : "No" }}
    </p>
  </div>

  <ng-template #noData>
    <p>No Program Details Available</p>
  </ng-template>
</div>
