<div class="courses-area section-padding40 fix">
  <div class="container">
    <!-- Section Title -->
    <div class="row justify-content-center mb-4">
      <div class="col-xl-7 col-lg-8 text-center">
        <div class="section-tittle mb-55">
          <h2>Our featured courses</h2>
        </div>
      </div>
    </div>

    <!-- Slick Carousel -->
    <ngx-slick-carousel class="courses-actives" [config]="slideConfig">
      @for (course of courses; track course) {
      <div class="properties pb-20">
        <div class="properties__card">
          <!-- Course Image -->
          <div class="properties__img overlay1">
            <a href="#"
              ><img [src]="course.image" [alt]="course.title" class="img-fluid"
            /></a>
          </div>

          <!-- Course Info -->
          <div class="properties__caption">
            <p>{{ course.category }}</p>
            <h3>
              <a href="#">{{ course.title }}</a>
            </h3>
            <p>{{ course.description }}</p>

            <!-- Rating & Price -->
            <div
              class="properties__footer d-flex justify-content-between align-items-center flex-wrap"
            >
              <div class="restaurant-name mb-2 mb-md-0">
                <div class="rating">
                  @for (i of [1,2,3,4]; track i) {
                  <i class="fas fa-star"></i>
                  }
                  <i class="fas fa-star-half"></i>
                  <p>
                    <span>({{ course.rating }})</span> based on
                    {{ course.reviews }}
                  </p>
                </div>
                <div class="price fw-bold">${{ course.price }}</div>
              </div>

              <!-- Button -->
              <a
                href="/courses/{{ course.id }}"
                class="border-btn border-btn2 mt-3 d-inline-block"
                >Find out more</a
              >
            </div>
          </div>
        </div>
      </div>
      }
    </ngx-slick-carousel>
  </div>
</div>
