.courses-area .properties {
    margin: 0 15px;
}

.courses-area .properties.properties2 {
    margin-bottom: 30px
}

.courses-area .properties__card {
    box-shadow: 0px 6px 6px 0px rgba(2, 25, 65, 0.08);
    border-radius: 10px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.courses-area .properties__card:hover {
    box-shadow: 0px 8px 8px 0px rgba(2, 25, 65, 0.08)
}

.courses-area .properties__img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative
}

.courses-area .properties__caption {
    padding: 29px 20px 20px 20px
}

.courses-area .properties__caption h3,
.service-card h3 {
    font-size: 20px ! important;
    font-weight: 500;
    margin-bottom: 6px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .courses-area .properties__caption h3 {
        font-size: 16px
    }
}

.courses-area .properties__caption h3 a {
    text-decoration: underline transparent
}

.courses-area .properties__caption h3 a:hover {
    text-decoration: underline;
    color: #4255A4
}

.courses-area .properties__caption P {
    color: #6E7697
}

.courses-area .properties__caption P span {
    color: #C86FFF;
    font-size: 16px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .courses-area .properties__caption P span {
        font-size: 12px
    }
}

.courses-area .properties__footer {
    margin-bottom: 22px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

@media (max-width: 575px) {
    .courses-area .properties__footer {
        padding: 19px 10px 20px 12px
    }
}

.courses-area .properties__footer .restaurant-name p {
    display: inline-block;
    color: #6E7697
}

.courses-area .properties__footer .restaurant-name p span {
    color: #FF7B2E;
    font-size: 12px
}

.courses-area .properties__footer .price span {
    cursor: pointer;
    font-weight: 700;
    color: #4255A4;
    font-size: 23px
}

.courses-area .properties:hover .border-btn2 {
    color: var(--color-white);
    background: var(--color-orange);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.rating i {
    font-size: 14px;
    color: var(--color-orange);
}

.courses-actives {
    display: flex;
}

.courses-actives button.slick-arrow {
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    background: none
}

.courses-actives button.slick-arrow i {
    font-size: 20px;
    color: #C86FFF;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.courses-actives button.slick-arrow i:hover {
    color: #4255A4
}

.courses-actives button.slick-prev {
    left: -58px
}

.courses-actives button.slick-prev i {
    color: #ddd
}

.courses-actives button.slick-next {
    right: -58px
}

.courses-actives button.slick-next i {
    color: #ddd
}