<section class="team-area section-padding40 fix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <div class="section-tittle text-center mb-55">
          <h2>Instructors & Experts</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        *ngFor="let member of teamMembers"
        class="col-lg-3 col-md-4 col-sm-6 mb-4"
      >
        <div class="single-cat text-center h-100">
          <div class="cat-icon mb-3">
            <img
              [src]="member.image"
              [alt]="member.name"
              class="img-fluid rounded-circle"
            />
          </div>
          <div class="cat-cap">
            <h5>
              <a href="services.html">{{ member.name }}</a>
            </h5>
            <p>{{ member.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
