<div class="container">
  <div id="topbar">
    <div class="top-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li>
          <i class="fa-brands fa-facebook-f"></i>
        </li>
        <li>
          <i class="fa-brands fa-twitter"></i>
        </li>
        <li>
          <i class="fa-brands fa-linkedin-in"></i>
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
        </li>
        <li>
          <i class="fa-regular fa-envelope"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
