#topbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.top-links {
  ul {
    display: flex;
    li {
      border-left: 1px solid #eee;
      padding: 0.5rem 1rem;
      font-weight: 700;
      font-size: 12px;
      a {
        color: #666;
      }
    }
    li:first-child {
      border-left: 0;
    }
  }
}

.social-links {
  ul {
    display: flex;
    li {
      border-left: 1px solid #eee;
      padding: 0.5rem 1rem;
    }
    li:first-child {
      border-left: 0;
    }
  }
}
