.footer-area .footer-pera p {
    color: #fff;
    padding-right: 52px;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-pera p {
        padding-right: 0px
    }
}

.footer-area .footer-pera.footer-pera2 p {
    padding: 0
}

.footer-area .footer-tittle h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 29px;
    font-weight: 600
}

.footer-area .footer-tittle ul li {
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline transparent;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.footer-area .footer-tittle ul li a:hover {
    color: #fff;
    text-decoration: underline
}

.footer-area .footer-tittle p {
    color: #fff
}

.footer-area .footer-form {
    margin-top: 40px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 30px
}

.footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 13px 22px;
    line-height: 1;
    border-radius: 0 3px 3px 0
}

.footer-area .info.error {
    color: #C86FFF
}

.footer-bottom-area .footer-border {
    padding: 33px 0px 20px
}

.footer-bottom-area .footer-copy-right p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-bottom-area .footer-copy-right p i {
    color: #C86FFF
}

.footer-social a {
    background: rgba(128, 136, 255, 0.1);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px
}

.footer-social a:hover {
    color: #fff;
    background: #C86FFF
}

.footer-social a i {
    display: inline-block
}

.footer-bg {
    background: #4255A4
}

.login-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh
}

.footer-padding {
    padding-top: 100px;
    padding-bottom: 13px
}

.footer-bottom-area p {
    color: var(--color-gray-light);
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
        padding-top: 70px;
        padding-bottom: 0
    }
}

@media (max-width: 575px) {
    .footer-padding {
        padding-top: 70px;
        padding-bottom: 0
    }
}