.service-card {
    border: 1px solid rgba(var(--color-st-primary-rgb), 0.2);
}

.service-card .icon {
    display: inline-block;
    position: relative;
    color: var(--color-lg-grey) !important;
}

.special-link .icons {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    border: 1px solid rgba(var(--inverse-color-rgb), 0.2);
}

.special-link span {
    color: initial;
}

.special-link .icons {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    border: 1px solid rgba(var(--inverse-color-rgb), 0.2);
}

.special-link .icons i.icon-1 {
    opacity: 1;
    visibility: visible;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.special-link .icons i {
    font-size: 25px;
    position: relative;
    display: inline-block;
    position: absolute;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.topic-area .service-card h3 {
    font-size: 2rem !important;
}


.topic-area .single-topic {
    position: relative
}

.topic-area .single-topic::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(66, 85, 164, 0.7);
    opacity: 0;
    z-index: 1;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 12px
}

.topic-area .single-topic:hover::before {
    opacity: 1;
    visibility: visible
}

.topic-area .single-topic .topic-img {
    border-radius: 12px
}

.topic-area .single-topic .topic-img img {
    width: 100%
}

.topic-area .single-topic .topic-content-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    transition: .4s;
    z-index: 2
}

.topic-area .single-topic .topic-content-box .topic-content {
    position: absolute;
    top: 53%;
    transform: translateY(-47%);
    left: 0;
    right: 0;
    text-align: center
}

.topic-area .single-topic .topic-content-box .topic-content h3 a {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-decoration: underline #fff transparent;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.topic-area .single-topic .topic-content-box .topic-content h3 a:hover {
    text-decoration: underline
}

.topic-area .single-topic .topic-content-box .topic-content p {
    font-size: 16px;
    color: #ffff;
    padding: 0 82px;
    line-height: 1.6
}

@media (max-width: 575px) {
    .topic-area .single-topic .topic-content-box .topic-content p {
        padding: 0 18px
    }
}