<app-inner-page-header
  [title]="course.title"
  [breadcrumbs]="[
    { label: 'Home', url: '/' },
    { label: 'Courses', url: '/courses' },
    { label: course.title }
  ]"
></app-inner-page-header>

<section class="bg-light text-center py-5">
  <div class="container">
    <h4 class="fw-bold mt-4 text-primary">{{ course.title }}</h4>
    <!-- Styled List -->
    <ul class="course-desc-list mx-auto mt-4">
      <li *ngFor="let desc of course?.description">
        <i class="bi bi-check-circle-fill me-2 text-primary"></i>
        {{ desc }}
      </li>
    </ul>
    <a href="/courses" class="btn btn-lg mt-4 px-5 py-3 explore-btn">
      Explore Our Services
    </a>
  </div>
</section>


