<app-inner-page-header
  [title]="course.title"
  [breadcrumbs]="[
    { label: 'Home', url: '/' },
    { label: 'Courses', url: '/courses' },
    { label: course.title }
  ]"
></app-inner-page-header>

<section class="course-detail-area py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card shadow-sm p-3 rounded-3">
          <h5 class="mb-3">Other Courses</h5>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let c of courses"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <a [routerLink]="['/course-detail', c.id]" class="fs-3">
                {{ c.title }}
              </a>
              <span class="badge rounded-pill">{{ c.price }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm p-4 rounded-3">
          <img
            [src]="course.image"
            alt="{{ course.title }}"
            class="img-fluid rounded mb-3"
          />

          <span class="badge py-4 mb-4">{{ course.category }}</span>
          <h2 class="mb-3 fw-bold">{{ course?.title }}</h2>
          <p class="text-muted">{{ course?.description }}</p>
          <p class="rating">
            <i class="fas fa-star"></i> {{ course?.rating }} ({{
              course?.reviews
            }}
            reviews) <br />
            <strong> {{ course.price ? "$" + course.price : "" }}</strong>
          </p>

          <hr />
          <h5 class="mt-4">Curriculum</h5>
          <div class="accordion" id="curriculumAccordion">
            <div
              class="accordion-item"
              *ngFor="let month of curriculum; let i = index"
            >
              <h2 class="accordion-header" id="heading{{ i }}">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i"
                  aria-expanded="false"
                  [attr.aria-controls]="'collapse' + i"
                >
                  {{ month.title }}
                </button>
              </h2>
              <div
                [id]="'collapse' + i"
                class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#curriculumAccordion"
              >
                <div class="accordion-body">
                  <ul>
                    <li *ngFor="let topic of month.topics">{{ topic }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 text-center">
            <a href="#" class="btn btn-lg">Enroll Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
