@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media (max-width: 575px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

.header-area .header-top {
    padding: 9px 130px;
    border-bottom: 1px solid #f0f1f2
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-top {
        padding: 9px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top {
        padding: 9px 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-top {
        padding: 9px 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-top {
        padding: 9px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-top {
        padding: 9px 0px
    }
}

.header-area .header-bottom {
    padding: 0px 130px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-bottom {
        padding: 0px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-bottom {
        padding: 0px 15px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom {
        padding: 15px 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom.header-sticky.sticky-bar .header-right-btn {
        display: none !important
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom.header-sticky.sticky-bar .header-right-btn {
        display: none !important
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom.header-sticky.sticky-bar .header-right-btn {
        display: none !important
    }
}

.main-header {
    position: relative;
    z-index: 3
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 27px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu ul li {
        margin: 0 14px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul li {
        margin: 0 8px
    }
}

.main-header .main-menu ul li a {
    color: #fff;
    font-weight: 600;
    padding: 39px 2px;
    display: block;
    font-size: 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: capitalize
}

.main-header .main-menu ul li:hover>a {
    color: #fff
}

.main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: #367FFF
}

.main-header .main-menu ul ul.submenu>li>a:hover {
    color: #C86FFF;
    background: none;
    padding-left: 13px !important
}

.button-header.margin-left {
    margin-left: 43px !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .button-header.margin-left {
        margin-left: 0px !important;
        margin-bottom: 8px !important
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .button-header.margin-left {
        margin-left: 0px !important;
        margin-bottom: 8px !important
    }
}

@media (max-width: 575px) {
    .button-header.margin-left {
        margin-left: 0px !important;
        margin-bottom: 8px !important
    }
}

.button-header {
    margin: 0 !important
}

.main-header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-right-btn {
        position: absolute;
        bottom: -82px;
        right: 11px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-right-btn {
        position: absolute;
        bottom: -82px;
        right: 11px
    }
}

@media (max-width: 575px) {
    .header-right-btn {
        position: absolute;
        bottom: -82px;
        right: 11px;
        margin: 0
    }
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.header-sticky.sticky-bar.sticky .main-menu ul li a {
    padding: 20px 20px !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media (max-width: 575px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

.mobile_menu {
    background: #fff;
    padding: 1rem 0;
    border-top: 1px solid #eee;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.mobile_menu .navbar-nav .nav-item {
    margin: 0.5rem 0;
}

.mobile_menu .navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    display: block;
    transition: color 0.3s;
}

.mobile_menu .navbar-nav .nav-link:hover,
.mobile_menu .navbar-nav .active>.nav-link {
    color: #007bff;
}

.mobile_menu .btn {
    width: 100%;
    border-radius: 8px;
}

.mobile_menu .btn3 {
    background: #f4f4f4;
    color: #333;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: none !important;
    width: 24px;
    height: 2px;
    background-color: #000;
    /* middle bar */
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
    top: -7px;
}

.navbar-toggler-icon::after {
    top: 7px;
}

.collapse:not(.show) {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.collapse.show {
    height: auto;
    transition: height 0.3s ease;
}