<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header">
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2 col-6">
              <div class="logo">
                <a routerLink="/">
                  <img
                    src="assets/img/logo/logo.png"
                    alt="logo"
                    class="img-fluid"
                  />
                </a>
              </div>
            </div>

            <!-- Navigation -->
            <div class="col-xl-10 col-lg-10 d-none d-lg-block">
              <div
                class="menu-wrapper d-flex align-items-center justify-content-end"
              >
                <div class="main-menu">
                  <nav>
                    <ul id="navigation" class="d-flex align-items-center">
                      <li
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                      >
                        <a routerLink="/">Home</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="/courses">Courses</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="#">About</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="#">Contact</a>
                      </li>
                      <li class="button-header margin-left">
                        <a routerLink="#" class="btn">Join</a>
                      </li>
                      <li class="button-header">
                        <a routerLink="#" class="btn btn3">Log in</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

            <!-- Mobile Menu -->
            <div class="col-6 d-block d-lg-none text-end">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mobileMenu"
                aria-controls="mobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>

            <div class="col-12 d-lg-none">
              <div class="collapse mobile_menu mt-5" id="mobileMenu">
                <ul class="navbar-nav text-center">
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Home</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/courses">Courses</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="#">About</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="#">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn d-block my-2" routerLink="#">Join</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn3 d-block" routerLink="#">Log in</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
