<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header">
      <div class="header-bottom header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a routerLink="/">
                  <img
                    src="assets/img/logo/logo.png"
                    alt="logo"
                    class="img-fluid"
                  />
                </a>
              </div>
            </div>

            <!-- Navigation -->
            <div class="col-xl-10 col-lg-10">
              <div
                class="menu-wrapper d-flex align-items-center justify-content-end"
              >
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                      >
                        <a routerLink="/">Home</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="/courses">Courses</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="#">About</a>
                      </li>
                      <!-- <li>
                        <a href="#">Blog</a>
                        <ul class="submenu">
                          <li routerLinkActive="active">
                            <a routerLink="/blog">Blog</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="/blog-details">Blog Details</a>
                          </li>
                          <li routerLinkActive="active">
                            <a routerLink="/elements">Element</a>
                          </li>
                        </ul>
                      </li> -->
                      <li routerLinkActive="active">
                        <a routerLink="#">Contact</a>
                      </li>
                      <li class="button-header margin-left">
                        <a routerLink="#" class="btn">Join</a>
                      </li>
                      <li class="button-header">
                        <a routerLink="#" class="btn btn3">Log in</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
