#scrollUp,
#back-top {
    background: #C86FFF;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2)
}

@media (max-width: 575px) {

    #scrollUp,
    #back-top {
        right: 16px
    }
}

#scrollUp a i,
#back-top a i {
    display: block;
    line-height: 50px
}

#scrollUp:hover {
    color: #fff
}

.all-btn {
    color: #C86FFF;
    text-decoration: underline;
    font-size: 16px
}

.all-btn:hover {
    color: #C86FFF;
    text-decoration: underline;
    letter-spacing: 1px
}