<div class="nav-wrapper" [ngClass]="{ 'fixed-nav': isFixed }">
  <div class="container">
    <div class="nav-wrapper">
      <div class="nav-menu">
        <div class="primary-menu-trigger" (click)="toggleMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="nav-left">
          <ul class="nav">
            <li
              [routerLink]="['/']"
              [ngClass]="{ active: activeRoute === '/' }"
            >
              Home
            </li>
            <li
              [routerLink]="['/ourService']"
              [ngClass]="{ active: activeRoute === '/ourService' }"
            >
              Service
            </li>
            <!-- <li
              [routerLink]="['/ourPrograms']"
              [ngClass]="{ active: activeRoute === '/ourPrograms' }"
            >
              Programs
            </li> -->
          </ul>
        </div>
        <div class="nav-right">
          <div class="search"><i class="fa-solid fa-magnifying-glass"></i></div>
          <div class="cart"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
      </div>
      <ul class="mob-nav" [ngClass]="{ open: isMenuOpen }">
        <li
          [routerLink]="['/']"
          (click)="closeMenu('/')"
          [ngClass]="{ active: activeRoute === '/' }"
        >
          Home
        </li>
        <li
          [routerLink]="['/ourService']"
          (click)="closeMenu('/ourService')"
          [ngClass]="{ active: activeRoute === '/ourService' }"
        >
          Service
        </li>
        <li
          [routerLink]="['/ourPrograms']"
          (click)="closeMenu('/ourPrograms')"
          [ngClass]="{ active: activeRoute === '/ourPrograms' }"
        >
          Programs
        </li>
      </ul>
    </div>
  </div>
</div>
