@media (min-width: 576px) and (max-width: 768px) {
  .nav-right .cart {
    padding-right: 1rem;
  }
}

@media (max-width: 575px) {
  .primary-menu-trigger i {
    padding: 1rem 1.5rem;
  }
  .nav-right .cart {
    padding-right: 1rem;
  }
  .primary-menu-trigger {
    display: block !important;
  }
  .mob-nav {
    padding: 0 1.5rem !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  .mob-nav li.active,
  .nav li.active {
    font-weight: bold;
    color: #1f72ba;
  }

  .mob-nav.open {
    max-height: 600px;
    display: block;
  }
  .mob-nav li {
    line-height: 22px;
    color: #444;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .mob-nav li {
    padding: 14px 5px !important;
    border-bottom: 1px solid rgba(30, 113, 184, 0.2);
  }
  .mob-nav li:last-child {
    padding: 14px 5px !important;
    border-bottom: 0px;
  }
  .nav {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .nav-right .cart {
    padding-right: 1rem;
  }
}

.nav-wrapper {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-menu-trigger {
  display: none;
}

.nav-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  color: #444;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

.nav li {
  cursor: pointer;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.nav li.active {
  color: #1f72ba;
}

.fixed-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden-nav {
  display: none;
}

.mob-nav {
  display: none;
}
