<section class="slider-area">
  <div class="slider-active">
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="hero__caption">
              <h1 data-animation="fadeInLeft" data-delay="0.2s">
                Learn. Build. Grow.
              </h1>

              <p data-animation="fadeInLeft" data-delay="0.4s">
                Industry-Led Curriculum: Our training is designed by industry experts to meet the demands of top tech
                companies.
              </p>

              <p data-animation="fadeInLeft" data-delay="0.4s">
                Hands-On Learning: Learn by doing with industry-focused projects and real-world applications.
              </p>

              <p data-animation="fadeInLeft" data-delay="0.4s">
                Comprehensive Support: We provide dedicated career guidance and placement support to ensure your
                success.
              </p>

              <a routerLink="/contact" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Join Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>