<section class="slider-area">
  <div class="slider-active">
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="hero__caption">
              <h1 data-animation="fadeInLeft" data-delay="0.2s">
                Think, Learn, Build, Grow with ThoughtWalks<br />
                platform
              </h1>
              <p data-animation="fadeInLeft" data-delay="0.4s">
                Learn full stack development through expert-led training,
                real-world projects, internships, and freelance opportunities.
                Get career guidance and placement support to kickstart your tech
                journey.
              </p>
              <a
                routerLink="/join"
                class="btn hero-btn"
                data-animation="fadeInLeft"
                data-delay="0.7s"
                >Join for Free</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
