<div class="service-container">
  <!-- <div class="section">
    <app-breadcrumb></app-breadcrumb>
  </div> -->
  <div class="content-block">
    <div class="container">
      <div class="programs-list">
        <div class="program" *ngFor="let program of programs">
          <div class="program-image">
            <a href="#">
              <!-- <img
          src="assets/images/programs/thumbs/1.jpg"
          alt="Inventore voluptates velit totam ipsa tenetur"
        /> -->
              <div class="program-date">
                {{ program.duration }}<span>Months</span>
              </div>
            </a>
          </div>
          <div class="program-content">
            <h2>
              <a [routerLink]="['/ourPrograms', program.id]">
                {{ program.name }}</a
              >
            </h2>
            <ul class="program-meta">
              <li><span class="badge badge-warning">Private</span></li>
              <li>
                <a href="#"><i class="icon-time"></i> 11:00 - 19:00</a>
              </li>
              <li>
                <a href="#"
                  ><i class="icon-map-marker2"></i> Coimbatore, India</a
                >
              </li>
            </ul>
            <p>
              {{ program.description }}
            </p>
            <ul class="tech-list">
              <li *ngFor="let tech of program.technologies">{{ tech }}</li>
            </ul>
            <!-- <div class="program-actions">
              <a href="#" class="btn btn-secondary">Book a Program</a>
              <a href="#" class="btn btn-danger">Read More</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

