.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pricing-box {
  flex: 1 1 250px;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  padding: 20px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.pricing-title {
  padding: 15px 0;
  background-color: #f9f9f9;
  border-radius: 3px 3px 0 0;
  text-shadow: 1px 1px 1px #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.pricing-title h3 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}

.pricing-title span {
  display: block;
  color: #999;
  font-weight: 300;
  font-size: 14px;
  margin-top: 3px;
  text-transform: uppercase;
}

.pricing-price {
  font-size: 64px;
  font-weight: 300;
  color: #333;
  padding: 25px 0;
  position: relative;
}

.pricing-price span {
  font-size: 28px;
  font-weight: normal;
}

.pricing-price .price-tenure {
  font-size: 16px;
  color: #999;
}

.pricing-features {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.pricing-features ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.pricing-features li {
  padding: 6px 0;
  font-size: 14px;
}

.pricing-action {
  padding: 15px 30px;
}

.best-price {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.best-price .pricing-title {
  background-color: #fff;
  padding: 20px 0;
}

.best-price .pricing-price {
  color: #1abc9c;
  font-size: 72px;
}
