<div class="pricing-container">
  <div
    class="pricing-box"
    *ngFor="let plan of pricingPlans"
    [ngClass]="{ 'best-price': plan.isBestPrice }"
  >
    <div class="pricing-title">
      <h3>{{ plan.title }}</h3>
      <span *ngIf="plan.isBestPrice">Most Popular</span>
    </div>

    <div class="pricing-price">
      <span class="price-unit">&euro;</span>{{ plan.price
      }}<span class="price-tenure">{{ plan.tenure }}</span>
    </div>

    <div class="pricing-features">
      <ul>
        <li *ngFor="let feature of plan.features">{{ feature }}</li>
      </ul>
    </div>

    <div class="pricing-action">
      <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
    </div>
  </div>
</div>
