@media (max-width: 768px) {
  .slider-caption {
    max-width: 300px !important;
  }
  .slider-caption h2 {
    font-size: 2rem !important;
  }
}
#slider {
  width: 100vw;
}

.swiper-slider {
  min-width: 100%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  background-image: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* transition: background-attachment 0.5s ease-in-out, transform 0.5s ease-in-out; */
}
.slider-content-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: start;
  flex-direction: column;
  margin-left: 10%;
}

.slider-caption {
  max-width: 550px;
}

.slider-caption h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.slider-caption p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.light-text {
  color: #fff;
}

.dark-text {
  color: #222;
}

.swiper-pagination {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.slider-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  pointer-events: all;
}

.slider-arrow.left {
  margin-left: 20px;
}

.slider-arrow.right {
  margin-right: 20px;
}

.slider-arrow i {
  color: #fff;
  font-size: 20px;
}

.slider-arrow:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-container {
  position: relative;
}

.swiper-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.swiper-slider.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

.swiper-slider:not(.active) {
  transform: translateX(-100%);
}

.video-wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/videos/explore.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-btn {
  display: flex;
  gap: 20px;
}
.slider-btn a {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.slider-btn a:hover {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
}
