<section id="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div
        class="swiper-slider"
        *ngFor="let slide of sliderItems; let i = index"
        [ngStyle]="{
          'background-image': slide.image ? 'url(' + slide.image + ')' : 'none',
        }"
        [style.backgroundAttachment]="isFixed ? 'fixed' : 'scroll'"
        [class.active]="i === currentIndex"
      >
        <app-pentagon></app-pentagon>
        <div class="slider-content-wrapper">
          <div
            class="slider-caption"
            [ngClass]="{
              'dark-text': slide.type === 'light',
              'light-text': slide.type === 'dark'
            }"
          >
            <h2>{{ slide.heading }}</h2>
            <p>{{ slide.description }}</p>
          </div>
          <div class="slider-btn">
            <a
              href="{{ slide.link }}"
              class="btn"
              [ngClass]="{
                'dark-text': slide.type === 'light',
                'light-text': slide.type === 'dark'
              }"
              >{{ slide.explore }}</a
            >
            <a *ngIf="slide.enroll" href="{{ slide.link }}" class="btn">{{
              slide.enroll
            }}</a>
          </div>
        </div>

        <div *ngIf="slide.video" class="video-wrapper">
          <video [poster]="slide.video.poster" autoplay loop muted>
            <source [src]="slide.video.mp4" type="video/mp4" />
            <source [src]="slide.video.webm" type="video/webm" />
          </video>
          <div
            class="video-overlay"
            style="background-color: rgba(0, 0, 0, 0.55)"
          ></div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination">
      <div class="slider-arrow left" (click)="prevSlide()">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="slider-arrow right" (click)="nextSlide()">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
</section>
