<section class="slider-area slider-area2">
  <div class="slider-active">
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <h1>{{ title }}</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li
                    class="breadcrumb-item"
                    *ngFor="let item of breadcrumbs; let last = last"
                    [ngClass]="{ active: last }"
                    [attr.aria-current]="last ? 'page' : null"
                  >
                    <ng-container *ngIf="!last; else lastBreadcrumb">
                      <a [routerLink]="item.url || '#'">{{ item.label }}</a>
                    </ng-container>
                    <ng-template #lastBreadcrumb>{{ item.label }}</ng-template>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
