<app-template-wrapper [title]="title" [subtitle]="subtitle">
</app-template-wrapper>

<div class="testimonials-wrapper">
  <div class="testimonial-content">
    <ul>
      <li *ngFor="let testimonial of testimonials">
        <div class="testimonial">
          <div class="testi-image">
            <a href="#">
              <img [src]="testimonial.image" alt="Student Testimonial" />
            </a>
          </div>
          <div class="testi-content">
            <p>{{ testimonial.feedback }}</p>
            <div class="testi-meta">
              {{ testimonial.name }}
              <span>{{ testimonial.company }}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
