<app-template-wrapper [title]="title" [subtitle]="subtitle">
</app-template-wrapper>
<div class="testimonials-wrapper">
  <div class="testimonial-content">
    <ul>
      <li>
        <div class="testimonial">
          <div class="testi-image">
            <a href="#"
              ><img src="/images/testi1.jpg" alt="Student Testimonails"
            /></a>
          </div>
          <div class="testi-content">
            <p>
              Incidunt deleniti blanditiis quas aperiam recusandae consequatur
              ullam quibusdam cum libero illo rerum repellendus!
            </p>
            <div class="testi-meta">
              John Doe
              <span>XYZ Inc.</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial">
          <div class="testi-image">
            <a href="#"
              ><img src="/images/testi3.jpg" alt="Student Testimonails"
            /></a>
          </div>
          <div class="testi-content">
            <p>
              Incidunt deleniti blanditiis quas aperiam recusandae consequatur
              ullam quibusdam cum libero illo rerum repellendus!
            </p>
            <div class="testi-meta">
              John Doe
              <span>XYZ Inc.</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="testimonial">
          <div class="testi-image">
            <a href="#"
              ><img src="/images/testi2.jpeg" alt="Student Testimonails"
            /></a>
          </div>
          <div class="testi-content">
            <p>
              Incidunt deleniti blanditiis quas aperiam recusandae consequatur
              ullam quibusdam cum libero illo rerum repellendus!
            </p>
            <div class="testi-meta">
              John Doe
              <span>XYZ Inc.</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
