@media (max-width: 768px) {
  .testimonials-wrapper li {
    width: 100% !important;
  }
  .testimonials-wrapper ul {
    justify-content: center !important;
  }

  .testimonial-content li::after {
    border-right: 0px dashed #ddd !important;
  }
}
.testimonials-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.testimonial-content li::before {
  content: "";
}

.testimonial-content li::before {
  border-left: 0px;
}

.testimonial-content li::after {
  content: "";
}

.testimonial-content li::after {
  border-right: 1px dashed #ddd;
}

.testimonial-content li:last-child:after {
  border-right: 0px;
}

.testimonials-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonials-wrapper li {
  width: calc(33.33% - 20px);
  max-width: 360px;
  box-sizing: border-box;
  margin-bottom: 4rem;
  display: flex;
}

.testimonial {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.testi-content p {
  margin: 0;
  font-family: "Crete Round", serif;
  font-style: italic;
}
.testi-meta {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.testi-meta span {
  display: block;
  font-weight: normal;
  color: #999;
  font-size: 12px;
  text-transform: none;
  padding-left: 10px;
}

.testi-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  flex: none;
}

.testi-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
