@media (max-width: 575px) {
  .container {
    width: 100%;
    /* padding: 0 15px; */
  }
}

/* @media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
@media (min-width: 576px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

/* 
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  line-height: 1.5;
  color: #555;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none !important;
  color: #1e71b9;
}

a:hover {
  color: #222;
}

a img {
  border: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #444; */
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-family: "Raleway", sans-serif;
}

h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: bold;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #1e71b9;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
  margin-bottom: 30px;
}

small {
  font-family: "Lato", sans-serif;
}

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

::selection {
  background: #1e71b9;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #1e71b9;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #1e71b9;
  color: #fff;
  text-shadow: none;
}

:active,
:focus {
  outline: none !important;
}

#wrapper {
  width: 100%;
  margin: 0;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
