<div class="home-container">
  <app-slider></app-slider>
  <div class="container">
    <div class="program-container">
      <app-program-we-offers
        *ngFor="let program of programs"
        [program]="program"
        class="program-card"
      ></app-program-we-offers>
    </div>
  </div>
  <!-- <div class="section odd">
    <div class="container">
      <app-testimonials></app-testimonials>
    </div>
  </div>
  <div class="section even">
    <div class="container">
      <app-pricing></app-pricing>
    </div>
  </div> -->
  <div class="section footer">
    <div class="container">
      <app-footer></app-footer>
    </div>
  </div>
</div>
